.presentation {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  margin: 0 auto;
  background-blend-mode: color-dodge;
  background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('https://images.unsplash.com/photo-1602992708529-c9fdb12905c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')";
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, .8);
}

.presentation .presentation-container {
  max-width: 800px;
}

.presentation .presentation-container > div h1:nth-child(1) {
  font-size: 8.8em;
  line-height: 1.4em;
  letter-spacing: -0.2rem;
  font-weight: 800;
  background: -webkit-linear-gradient(#1cffb3, #5996f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation .presentation-container > div h1:nth-child(2) {
  font-size: 4.8em;
  line-height: 1em;
  letter-spacing: -0.2rem;
  font-weight: 800;
  background: -webkit-linear-gradient(#1cffb3, #5996f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation .presentation-container > div p {
  color: var(--_color_0);
  font-size: 1.5em;
  line-height: 32px;
  margin: 10px 0 40px;
  font-weight: 500;
}

.presentation .presentation-container > div a {
  background: -webkit-linear-gradient(#1cffb3, #5996f0);
  color: var(--_color_0);
  border-radius: 0.4rem;
  padding: 1rem 5rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.9s ease-in;
}

.presentation .presentation-container > div a:hover {
  background: transparent;
  border: 0.1rem solid var(--_color_0);
}

@media (max-width: 700px) {
  .presentation {
    height: auto;
  }

  .presentation .presentation-container > div h1:nth-child(1) {
    margin-top: 3rem;
    font-size: 6em;
  }

  .presentation .presentation-container > div h1:nth-child(2) {
    font-size: 4em;
  }

  .presentation .presentation-container > div p {
    font-size: 1.3em;
  }

  .presentation .presentation-container > div button {
    padding: 1.1rem 6.2rem;
  }
}

@media (max-width: 400px) {
  .presentation .presentation-container > div button {
    width: 100%;
    font-size: 1.4rem;
  }
}
