.presentation .presentation-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
}

@media (max-width: 610px) {
  .presentation .presentation-container {
    flex-direction: column-reverse;
  }
}

.presentation .presentation-container > div {
  width: 100%;
}

@media (max-width: 700px) {
  .presentation .presentation-container > div {
    padding: 30px;
    width: 100%;
    text-align: center;
  }
}

.presentation .presentation-container > div h1 {
  font-size: 6.8em;
  line-height: 1.3em;
  font-weight: 800;
  background: -webkit-linear-gradient(#1cffb3, #5996f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1340px) {
  .presentation .presentation-container > div h1 {
    font-size: 5em;
  }
}

@media (max-width: 1010px) {
  .presentation .presentation-container > div h1 {
    font-size: 3em;
  }
}

.presentation .presentation-container > div h1 h1 {
  color: #feb92e;
  font-size: 1.5em;
  line-height: 1.3em;
}

@media (max-width: 400px) {
  .presentation .presentation-container > div h1 h1 {
    font-size: 1.1em;
  }
}

.presentation .presentation-container > div p {
  color: #4b4b4b;
  font-size: 2em;
  line-height: 32px;
  margin: 10px 0 40px;
  font-weight: bold;
}

.presentation .presentation-container > div a {
  background: #ffffff;
  color: #4b4b4b;
  border-radius: 0.4rem;
  margin: 1.2rem;
  padding: 1.2rem 2.5rem;
  border: 0.1rem solid #4b4b4b;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.presentation .presentation-container > div a:hover {
  background: transparent;
  border: 0.1rem solid #ffffff;
}

@media (max-width: 910px) {
  .presentation .presentation-container > div a {
    width: 250px;
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 610px) {
  .presentation .presentation-container > div a {
    width: 100%;
    font-size: 20px;
  }
}

.presentation .presentation-container > div a:hover,
.presentation .presentation-container > div a:focus {
  opacity: 0.9;
}

.presentation .presentation-container .presentation-img {
  width: 30%;
  margin-right: 80px;
}

@media (max-width: 500px) {
  .presentation .presentation-container .presentation-img {
    width: 80%;
  }
}
