.presentation {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 1)
    ),
    url("https://images.unsplash.com/photo-1602992708529-c9fdb12905c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

.presentation .presentation-container h1 {
  font-size: 8.8em;
  letter-spacing: -0.2rem;
  font-weight: 800;
  background: -webkit-linear-gradient(#1cffb3, #5996f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 2s steps(40) 0.8s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 4em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.presentation .presentation-container h2 {
  width: 700px;
  margin: 0 auto;
  font-size: 4.8em;
  line-height: 1em;
  letter-spacing: -0.2rem;
  font-weight: 800;
  background: -webkit-linear-gradient(#1cffb3, #5996f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation .presentation-container p {
  width: 700px;
  margin: 0 auto;
  color: var(--_color_0);
  font-size: 1.5em;
  line-height: 32px;
  margin: 10px 0 40px;
  font-weight: 500;
}

.presentation .presentation-container a {
  background: -webkit-linear-gradient(#1cffb3, #5996f0);
  color: var(--_color_0);
  border-radius: 0.4rem;
  padding: 1rem 5rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.9s ease-in;
}

.presentation .presentation-container a:hover {
  background: transparent;
  border: 0.1rem solid var(--_color_0);
}

@media (max-width: 800px) {
  .presentation {
    height: auto;
  }

  .presentation .presentation-container h1 {
    width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 6em;
  }

  .presentation .presentation-container h2 {
    width: 500px;
    margin: 0 auto;
    font-size: 4em;
  }

  .presentation .presentation-container p {
    width: 500px;
    margin: 0 auto;
    font-size: 1.3em;
  }

  .presentation .presentation-container .presentation-button {
    margin: 60px 0;
  }

  .presentation .presentation-container a {
    padding: 1.1rem 6.2rem;
  }

  .presentation .presentation-container a:hover {
    background: -webkit-linear-gradient(#1cffb3, #5996f0);
    border: none;
  }
}

@media (max-width: 500px) {
  .presentation .presentation-container h1 {
    width: 400px;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 6em;
  }

  .presentation .presentation-container h2 {
    width: 300px;
    margin: 0 auto;
    font-size: 3.5em;
  }

  .presentation .presentation-container p {
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 1.2em;
  }

  .presentation .presentation-container button {
    width: 100%;
    font-size: 1.4rem;
  }
}
