.presentation {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  margin: 0 auto;
}

.presentation .presentation-container {
  max-width: 800px;
}

.presentation .presentation-container > div h1:nth-child(1) {
  font-size: 8.8em;
  line-height: 1.4em;
  letter-spacing: -0.2rem;
  font-weight: 800;
  background: -webkit-linear-gradient(#1cffb3, #5996f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation .presentation-container > div h1:nth-child(2) {
  font-size: 4.8em;
  line-height: 1em;
  letter-spacing: -0.2rem;
  font-weight: 800;
  background: -webkit-linear-gradient(#1cffb3, #5996f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation .presentation-container > div p {
  color: var(--_color_1);
  font-size: 1.5em;
  line-height: 32px;
  margin: 10px 0 40px;
  font-weight: 500;
}

.presentation .presentation-container > div a {
  width: 100%;
  background: var(--_color_1);
  color: var(--_color_0);
  border-radius: 0.4rem;
  margin: 1.2rem;
  padding: 0.8rem 3.2rem;
  border: 0.1rem solid var(--_color_1);
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.presentation .presentation-container > div a:hover {
  background: transparent;
  border: 0.1rem solid var(--_color_1);
  color: var(--_color_1);
}

.presentation .presentation-container > div a:hover,
.presentation .presentation-container > div a:focus {
  opacity: 0.9;
}

@media (max-width: 700px) {
  .presentation {
    height: auto;
  }

  .presentation .presentation-container > div h1:nth-child(1) {
    margin-top: 3rem;
    font-size: 6em;
  }

  .presentation .presentation-container > div h1:nth-child(2) {
    font-size: 4em;
  }

  .presentation .presentation-container > div p {
    font-size: 1.3em;
  }
}
