/* :root {
    --gutter: 10px;
}

html {
    scroll-behavior: smooth;
  } */
  
  /* body {
    margin: 0;
    background-color: #000;
  } */
  
  /* img {
    width: 20%;
    text-align: center;
  } */

/* .wrapper { */
    /* display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
     */
    /* margin-top: 50px; */

    /* scroll-behavior: smooth; */
    /* padding: var(--gutter) 0; */

    /* display: grid; */
    
    /* grid-gap: var(--gutter) 0; */
    
    /* grid-template-columns: var(--gutter) 1fr var(--gutter); */
    /* align-content: start; */

    /* overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;  */
/* } */



.wrapper section {
    /* width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    cursor: pointer; */

    /* display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(10, calc(20% - var(--gutter) * 2)); */
    /* grid-template-columns: repeat(5, auto); */
    /* grid-template-rows: minmax(150px, 1fr); */
    
    /* overflow-x: scroll;
    scroll-snap-type: x proximity; */
    /* padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter)); */
    /* transition: 300ms all; */

    /* position: relative; */
    /* width: 100%;
    height: 100%;
    left: 0;
    top: 0; */
    /* transition: all .6s ease-in-out; */
    /* transition: 300ms all; */

    /* overflow: hidden;
    scroll-behavior: smooth; */
}

/* ::-webkit-scrollbar {
    width: 0px;
} */

/* .course-image {
    height: 100%;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
} */

.course-image img {
    /* position: absolute; */
    /* top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    line-height: 0;
    background-position: center;
    background-size: cover; */
    /* border-radius: 4px; */
    /* transition: opacity 0.5s ease-in-out; */
    /* transition: 300ms all; */
}

/* .wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: rgb(0, 0, 0);
    width: 120px;
    height: 180px;
    padding: 20px;
    text-align: center;
    z-index: 1;
    transition: 300ms all;
} */

/* .wrapper section a:nth-of-type(1) { */
    /* top: 0;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0; */
    /* background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
} */

/* .wrapper section a:hover {
    transform: scale(1.1);
} */

/* .wrapper section a:nth-of-type(2) { */
    /* top: 0;
    bottom: 0; */
    /* right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
} */

/* .wrapper section .item {
    padding: 0 2px; */
    /* transition: 250ms all; */
/*    
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .6s ease-in-out; */

    /* scroll-snap-align: center; */
    /* padding: calc(var(--gutter) / 2 * 1.5); */
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* background: #fff;
    border-radius: 8px; */
/* } */

/* .wrapper section .item {
    overflow: hidden;
} */

/* .wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
} */
