.information {
  margin: 40px auto;
  max-width: 1000px;
}

.information-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.information-card {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-direction: column-reverse;
}

.information-card:nth-child(1) {
  margin-top: 60px;
}

.information-card:nth-child(3) {
  margin-top: 0;
  padding-top: 0;
}

.information-card:nth-child(5) {
  margin-top: 60px;
}

.information-card .card-text {
  width: 100%;
}

.information-card .card-text h1 {
  color: var(--_color_1);
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

.information-section hr {
  display: none;
}

.information-card .card-image {
  width: 100%;
  text-align: center;
}

.information-card .card-image img {
  width: 40%;
}

@media (max-width: 700px) {
  .information-section {
    display: table-row;
    justify-content: center;
  }

  .information-section hr {
    display: flex;
    height: 3px;
    width: 50%;
    margin: 20px auto;
    border: 0;
    height: 2px;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--_color_2),
      transparent
    );
  }

  .information-card .card-text h1 {
    font-size: 1.9em;
  }

  .information-card .card-text h3 {
    font-size: 1.3em;
  }

  .information-card .card-image img {
    width: 30%;
  }
}
