.information {
  margin: 40px auto;
  max-width: 1480px;
}

.information-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.information-card {
  width: 100%;
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
}

.information-card .card-text {
  width: 55%;
}

.information-card .card-text h1 {
  color: var(--_color_1);
  font-size: 1.8em;
  margin-bottom: 10px;
}

.information-card .card-text h3 {
  color: var(--_color_2);
  font-weight: 400;
  font-size: 1em;
}

.information-card .card-image {
  width: 40%;
  text-align: right;
}

.information-card .card-image img {
  width: 80%;
}

@media (max-width: 700px) {
  .information-section {
    display: table-row;
    justify-content: center;
  }

  .information-card {
    justify-content: center;
  }
}
