.information {
  margin: 40px auto;
  max-width: 1480px;
}

.information-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.information-card {
  width: 100%;
  box-shadow: rgba(83, 85, 88, 0.3) 0px 2px 16px;
  margin-right: 20px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
}

.information-card .card-text {
  width: 55%;
}

.information-card .card-text h1 {
  color: var(--_color_1);
  font-size: 1.8em;
  margin-bottom: 10px;
}

.information-card .card-text h3 {
  color: var(--_color_2);
  font-weight: 400;
  font-size: 1em;
}

.information-card .card-image {
  width: 40%;
  text-align: right;
}

.information-card .card-image img {
  width: 80%;
}
