.contact-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container .content {
  width: 100%;
  padding: 50px 100px;
  padding-bottom: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container .content section {
  width: 100%;
  max-width: 550px;
}

.contact-container .content section img {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.contact-container .content form h1 {
  color: var(--_color_1);
  font-size: 32px;
}

.contact-container .content form p {
  font-size: 18px;
  color: var(--_color_5);
  line-height: 32px;
}

.contact-container .content form {
  width: 100%;
  max-width: 550px;
}

.contact-container .content form input,
.contact-container .content form textarea {
  margin-top: 8px;
}

.contact-container .content form textarea {
  margin-top: 8px;
}

.contact-container .content form .input-group {
  display: flex;
}

.contact-container .content form .input-group input + input {
  margin-left: 8px;
}

@media (max-width: 700px) {
  .contact-container .content {
    display: flow-root;
    justify-content: center;
    padding: 10px;
  }

  .contact-container .content section h1 {
    text-align: center;
    font-size: 2.6rem;
  }

  .contact-container .content section p {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
}
