.skill {
  margin: 40px auto;
  max-width: 800px;
}

.skill hr {
  display: flex;
  height: 3px;
  width: 90%;
  margin: 40px auto;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--_color_2),
    transparent
  );
}

.skill h1 {
  max-width: 500px;
  font-size: 3em;
  margin: 0 auto 30px;
  color: var(--_color_1);
}

.skill-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-card {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-direction: column-reverse;
}

.skill-card .skill-title {
  width: 100%;
}

.skill-card .skill-title p {
  color: var(--_color_1);
  font-size: 1.2em;
  font-weight: 500px;
  margin-top: 10px;
}

.skill-card .skill-image {
  width: 100%;
  text-align: center;
}

.skill-card .skill-image svg {
  font-size: 3em;
  color: var(--_color_1);
}

@media (max-width: 700px) {
  .skill-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skill-card .skill-title h1 {
    font-size: 1.9em;
  }

  .skill-card .skill-title h3 {
    font-size: 1.3em;
  }

  .skill-card .skill-image img {
    width: 30%;
  }
}

@media (max-width: 400px) {
  .skill-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
