#slider {
    width: 100%;
    max-width: 1470px;
    height: 25vw;
    max-height: 300px;
    /* position: relative; */
    margin: 0 auto;
}

#slider img{
    opacity: 0;

    /* position: absolute; */

    width: 100%;
    height: 100%;

    /* object-fit: cover; */

    transition: opacity 800ms;
} 

#slider img.selected { 
    opacity: 1;
}