#about-dev .about-dev-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

#about-dev .about-dev-container .coder-img {
  width: 50%;
  padding: 30px;
}

#about-dev .about-dev-container .coder-img img {
  margin-top: 40px;
  margin-bottom: 0;
}

#about-dev .about-dev-container .profile {
  width: 50%;
  text-align: left;
}

#about-dev .about-dev-container .profile h1 {
  font-size: 5em;
  line-height: 1.3em;
  font-weight: bold;
  color: var(--_color_1);
}

#about-dev .about-dev-container .profile p {
  font-size: 1.6em;
  line-height: 1.3em;
  text-indent: 1.3em;
  color: var(--_color_2);
  font-weight: 500;
}

#about-dev .about-dev-container .profile p a {
  text-decoration: none;
  color: var(--_color_1);
}

@media (max-width: 700px) {
  #about-dev .about-dev-container {
    flex-direction: column;
    justify-content: center;
  }

  #about-dev .about-dev-container .coder-img {
    width: 90%;
    margin-top: 20px;
  }

  #about-dev .about-dev-container .profile {
    width: 95%;
    text-align: center;
  }
}
