#about-dev .about-dev-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
}

#about-dev .about-dev-container .coder-img {
  width: 50%;
  padding: 5px;
}

#about-dev .about-dev-container .coder-img img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0;
}

#about-dev .about-dev-container .profile {
  width: 50%;
  text-align: left;
}

#about-dev .about-dev-container .profile span {
  font-size: 3.5em;
  line-height: 1.3em;
  font-weight: bold;
  color: var(--_color_1);
}

@media (max-width: 700px) {
  #about-dev .about-dev-container {
    flex-direction: column;
    justify-content: center;
  }

  #about-dev .about-dev-container .coder-img {
    width: 90%;
    margin-top: 20px;
  }

  #about-dev .about-dev-container .profile {
    width: 95%;
    text-align: center;
  }

  #about-dev .about-dev-container .profile span {
    font-size: 2.5em;
  }
}
