.item {
    position: relative;
    cursor: pointer;
    padding: 0 2px;
    transition: 0.5s all;
}

.item:hover {
    opacity: 0.6;
}

.course-image img { 
    top: 0;
    left: 0;
    width: 100%;
    /* height: 150px; */
    line-height: 0;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}

.classificacao {
    width: 100%;
    text-align: right;
}

.classificacao img {
    width: 40%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .course-info{
    text-align: left;
}

.item header .course-info p {
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 700;
    height: 40px;
    font-size: 1.2em;
    color: #29303b;
}

@media (max-width:750px) {
    .item header .course-info p  {
        font-size: 1.3em;
        height: 44px;
    }
}

@media (max-width:450px) {
    .item header .course-info p  {
        font-size: 1.1em;
        height: 44px;
    }
}

.item header .course-info span {
    font-size: 1.1em;
    color: #999;
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 38px;
}

.item header .course-info .instructor span {
    font-size: 1em;
    padding-top: 8px;
}

.item .position {
    /* background-color: #59cf00; */
    padding: 0
    /* border-radius: 4px; */
    /* text-align: center; */
}

.item .position a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    color: #59cf00;
}