.item {
    position: relative;
    cursor: pointer;
    padding: 0 2px;
    transition: 0.5s all;
}

.item:hover {
    opacity: 0.6;
}

.course-image img { 
    top: 0;
    left: 0;
    width: 100%;
    /* height: 150px; */
    line-height: 0;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}

.classificacao {
    width: 100%;
    text-align: right;
}

.classificacao img {
    width: 40%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .course-info{
    text-align: left;
}

.course-info strong {
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 700;
    height: 48px;
    font-size: 1.4em;
    color: #29303b;
}

.course-info span {
    font-size: 1.1em;
    color: #999;
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 38px;
}

.course-info .price {
    display: flex;
}

.course-info .price p {
    padding: 5px 2px;
    color: #737380;
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
}

.instructor {
    width: 100%;
    display: flex;
}

.instructor p {
    font-size: 14px;
    /* margin-left: 4px; */
    /* font-weight: bold; */
    color: #0bb357;
    margin-bottom: 10px;
}