.nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #feb92e;
    box-shadow: 0 1px 10px -2px gray;
}

.navbar {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 80px;
    padding: 0px 20px 0px 0px;
    border-right: 1px solid rgba(245, 250, 246, 0.8);
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
}

@media (max-width:610px) {
    .navbar-menu ul {
        display: none;
    }
}

.navbar-menu ul li {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 0.9rem;
    margin: 0;
}

.navbar-menu ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    transition: 0.5s;
    font-size: 1.3em;
}

.navbar-menu ul li a:before {
    content: "";
    position: absolute;
    top: 1rem;
    display: block;
    width: 0%;
    border-top: 3px solid #1b63d1;
    transition: 0.5s;
}

.navbar-menu ul li a:hover:before {
    width: 2%;
}
.navbar-menu ul li a:hover {
    color: #1b63d1;
}

.navbar-menu ul li a:active {
    color: #1b63d1;
}

.spacer {
    flex: 1;
}

@media (max-width:610px) {
    .spacer {
        display: none;
}
}

@media (max-width: 610px) {
    .spacer-button {
        flex: 1;
    } 
}
