.nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 10px -2px gray;
}

.navbar {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.logo-main {
  display: flex;
  align-items: center;
  padding-right: 10px;
  margin: 5px 0;
  text-decoration: none;
  color: rgb(30, 30, 30);
}

.logo-main span {
  font-size: 20pt;
  font-weight: bold;
}

.logo {
  width: 65px;
  padding-left: 20px;
}

@media (max-width: 550px) {
  .logo {
    width: 40px;
    padding: 0px 10px 0px 0px;
  }
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
}

@media (max-width: 610px) {
  .navbar-menu ul {
    display: none;
  }
}

.navbar-menu ul li {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 0.9rem;
  margin: 0;
}

.navbar-menu ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
  font-size: 1.1em;
}

.navbar-menu ul li a:before {
  content: "";
  position: absolute;
  top: 0.8rem;
  display: block;
  width: 0%;
  border-top: 3px solid #fff;
  transition: 0.5s;
}

.navbar-menu ul li a:hover:before {
  width: 2%;
}

.spacer {
  flex: 1;
}

@media (max-width: 610px) {
  .spacer {
    display: none;
  }
}

@media (max-width: 610px) {
  .spacer-button {
    flex: 1;
    width: 34px;
    padding: 0px 10px 0px 0px;
  }
}
