.offers {
    max-width: 1380px;
    margin: 0 auto;
}

.offers-section {
    width: 80%;
    background: rgba(102, 102, 102, 0.469);
    height: 300px;
    margin: 0 auto;
    border-radius: 6px;
}

.offers-section:hover {
    box-shadow: rgba(30, 33, 37, 0.5) 0px 2px 16px;
    cursor: pointer;
}