.presentation .presentation-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

@media (max-width:610px) {
    .presentation .presentation-container {
        flex-direction: column-reverse;
    }
}

.presentation .presentation-container>div {
    width: calc(50% - 80px);
}

@media (max-width:700px) {
    .presentation .presentation-container>div {
        padding: 30px;
        width: 100%;
        text-align: center;
    }
}

.presentation .presentation-container>div h1 {
    color: #1b63d1;
    font-size: 2.8em;
    line-height: 1.3em;
    font-weight: 800;
}


@media (max-width:1340px) {
    .presentation .presentation-container>div h1 {
        font-size: 3em;
    }
}

@media (max-width:1010px) {
    .presentation .presentation-container>div h1 {
        font-size: 2em;
    }
}

.presentation .presentation-container>div h1 h1{
    color: #feb92e;
    font-size: 1.5em;
    line-height: 1.3em;
}

@media (max-width:400px) {
    .presentation .presentation-container>div h1 h1 {
        font-size: 1.1em;
}
}

.presentation .presentation-container>div p {
    color: #4b4b4b;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0 0;
}

.presentation .presentation-container>div a {
    display: inline-block;
    margin: 15px 0 0;
    width: 350px;
    padding: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 600;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #fff;
    background-color: #1b63d1;
    border-radius: 5px;
    -webkit-transition: all linear 150ms;
    transition: all linear 150ms;
}

@media (max-width:910px) {
    .presentation .presentation-container>div a {
        width: 250px;
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width:610px) {
    .presentation .presentation-container>div a {
        width: 100%;
        font-size: 20px;
    }
}

.presentation .presentation-container>div a:hover,
.presentation .presentation-container>div a:focus {
    opacity: 0.9;
}


.presentation .presentation-container .presentation-img {
    width: 30%;
    margin-right: 80px;
}

@media (max-width:500px) {
    .presentation .presentation-container .presentation-img {
        width: 80%;
    }
}