@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

@import "./_header.css";
@import './_presentation.css';
@import './_courses.css';

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font: Roboto, sans-serif;
}

h2 {
    font: Roboto, sans-serif;
}

a {
    font: 500 18px Roboto, sans-serif;
}