.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 32px;
    width: 30px;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    background: #feb92e;
}
    
@media (min-width: 610px) {
    .toggle-button {
        display: none;
    } 
}
  
.toggle-button:focus {
    outline: none;
}
  
.toggle-button__line {
    width: 32px;
    height: 4px;
    background: #1b63d1;
}