.nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--_color_0);
}

.navbar {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.logo-main {
  display: flex;
  align-items: center;
  padding-right: 10px;
  text-decoration: none;
  color: var(--_color_1);
}

.logo {
  width: 15%;
  padding: 5px 20px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu ul li {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 0.9rem;
  margin: 0;
}

.navbar-menu ul li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--_color_1);
  transition: 0.5s;
  font-size: 1.1em;
  font-weight: bold;
  transition: 0.1s ease-in;
}

.navbar-menu ul li a:hover {
  border-bottom: 2px solid var(--_color_1);
}

.navbar-menu ul li .btn {
  background: var(--_color_1);
  color: var(--_color_0);
  border-radius: 0.4rem;
  padding: 0.4rem 1.5rem;
  border: 0.1rem solid var(--_color_1);
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.navbar-menu ul li .btn:hover {
  background: transparent;
  border: 0.1rem solid var(--_color_1);
  color: var(--_color_1);
}

.spacer {
  flex: 1;
}

@media (max-width: 700px) {
  .navbar-menu ul {
    display: none;
  }

  .spacer {
    display: none;
  }

  .spacer-button {
    flex: 1;
    width: 34px;
    padding: 0px 10px 0px 0px;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 20%;
    padding: 0px 10px 0px 0px;
  }
}
