footer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 25px;
  margin: 50px auto;
}

footer hr {
  display: flex;
  height: 3px;
  width: 70%;
  margin: 20px auto;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--_color_2),
    transparent
  );
}

.social-container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.social-container .footer-info a {
  font-size: 1em;
  color: var(--_color_2);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 20px 10px;
}

.social-container .footer-info a:hover {
  color: var(--_color_1);
}

.social-container .footer-social a {
  font-size: 1.6em;
  color: var(--_color_2);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 12px;
}

.social-container .footer-social a:hover {
  color: var(--_color_1);
}

footer .footer-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-img img {
  width: 10%;
}

footer .footer-img p {
  text-align: left;
  color: var(--_color_2);
  padding-left: 40px;
}

@media (max-width: 700px) {
  footer {
    text-align: center;
  }

  .social-container {
    display: column;
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  footer .footer-img {
    display: column;
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  footer .footer-img img {
    margin-top: 20px;
    width: 40%;
  }

  footer .footer-img p {
    text-align: center;
    padding-left: 0;
  }

  .social-container .footer-social a {
    font-size: 1.8em;
  }
}
