footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 25px;
  position: absolute;
  border-top: 1px solid rgb(230, 230, 230);
  margin-top: 50px;
}
.social-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.social-container > a {
  font-size: 1em;
  color: var(--_color_2);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 20px 10px;
}

.social-container > a:hover {
  opacity: 0.7;
}

footer p {
  text-align: center;
  margin: 0 auto;
  color: var(--_color_2);
  padding: 0 20px;
}
