#course {
  margin-top: 40px;
}

#course h1 {
  font-size: 4em;
  line-height: 1.3em;
  font-weight: bold;
  color: var(--_color_1);
  text-align: center;
}

#course .course-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

#course hr {
  display: flex;
  height: 3px;
  width: 50%;
  margin: 30px auto;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--_color_2),
    transparent
  );
}

#course .course-container .course-img {
  width: 50%;
  padding: 30px;
}

#course .course-container .course-img img {
  width: 90%;
  margin-top: 40px;
  border-radius: 8px;
}

#course .course-container .course-text {
  width: 50%;
  text-align: left;
}

#course .course-container .course-text h2 {
  font-size: 2.3em;
  line-height: 1.3em;
  font-weight: bold;
  color: var(--_color_1);
  margin-bottom: 10px;
}

#course .course-container .course-text span {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 400;
  color: var(--_color_2);
}

#course .course-container .btn {
  width: 100%;
  margin-top: 40px;
}

#course .course-container .btn a {
  width: 100%;
  height: 70px;
  background: var(--_color_4);
  color: var(--_color_0);
  border-radius: 0.4rem;
  padding: 1rem 4rem;
  font-size: 1.4em;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in;
}

#course .course-container .btn a:hover {
  opacity: 0.7;
}

@media (max-width: 700px) {
  #course .course-container {
    flex-direction: column;
    justify-content: center;
  }

  #course .course-container .course-img {
    width: 100%;
    margin-top: 20px;
  }

  #course .course-container .course-text {
    width: 95%;
    text-align: center;
  }

  #course .course-container .course-text h1 {
    font-size: 3em;
  }
}
