.error {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;
  height: 100vh;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.error .error-content {
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.error .error-content h1 {
  font-size: 8.8em;
  background: -webkit-linear-gradient(#1cffb3, #5996f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.error .error-content .error-description {
  color: var(--_color_1);
  font-size: 1.8em;
  line-height: 32px;
  font-weight: 500;
}

.error .error-content .error-link {
  margin-top: 30px;
  font-size: 1.8em;
  line-height: 32px;
  font-weight: 500;
}

.error .error-content .error-link a {
  text-decoration: none;
  color: var(--_color_4);
}

@media (max-width: 480px) {
  .error .error-content h1 {
    font-size: 4em;
  }
}
