.about-container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 50px 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container .about-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-container .about-content section {
  width: 100%;
}

.about-container .about-content section img {
  width: 100%;
}

.about-container .about-content .about-text {
  width: 100%;
  max-width: 650px;
  margin-left: 50px;
}

.about-container .about-content .about-text section {
  width: 100%;
  max-width: 580px;
  padding: 20px;
  align-items: left;
}

.about-container .about-content .about-text h1 {
  width: 100%;
  color: var(--_color_1);
  font-size: 4em;
  margin: 64px 0 32px;
}

.about-container .about-content .about-text p {
  font-size: 1.3em;
  color: var(--_color_5);
  line-height: 32px;
  margin-right: 20px;
}

.about-info {
  width: 100%;
  max-width: 1200px;
  padding: 0px 100px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info section {
  width: 100%;
  max-width: 580px;
  padding: 20px;
}

.about-info section h1 {
  color: var(--_color_1);
  margin: 64px 0 32px;
  font-size: 32px;
}

.about-info section p {
  font-size: 1.2em;
  color: var(--_color_5);
  line-height: 32px;
}

@media (max-width: 700px) {
  .about-container {
    padding: 10px;
  }

  .about-container .about-content {
    display: flow-root;
    padding: 0;
  }

  .about-container .about-content .about-text {
    max-width: 580px;
    margin: 64px 0 32px;
  }

  .about-container .about-content .about-text section {
    padding: 0px;
    text-align: center;
  }

  .about-container .about-content .about-text h1 {
    margin-top: 0;
  }

  .about-container .about-content .about-text p {
    margin: 0;
  }

  .about-info {
    display: flow-root;
    padding: 0;
    text-align: center;
  }

  .about-info section h1 {
    margin: 10px 0 32px;
  }

  .about-info section {
    padding: 10px;
  }
}
