@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  --_color_0: #ffffff;
  --_color_1: #4b4b4b;
  --_color_2: #999999;
  --_color_3: #1cffb3;
  --_color_4: #5996f0;
  --_color_5: #737380;
  --_color_6: #000000;
}

body {
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #4b4b4b;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  min-width: 140px;
  height: 120px;
  resize: vertical;
  color: #444;
  border: 1px solid #4b4b4b;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.button {
  width: 100%;
  height: 60px;
  background: #4b4b4b;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: 0.2s ease-in;
}

.button:hover {
  background: transparent;
  border: 0.1rem solid #4b4b4b;
  color: #4b4b4b;
}

h1 {
  font: Roboto, sans-serif;
}

h2 {
  font: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.home_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
}
