:root {
    --gutter: 20px;
}

.course-title {
    width: 100%;
    max-width: 1470px;
    margin: 20px auto;
}

.course-title h1 {
    font-size: 2.5em;
    text-align: left;
    color: #444;
    padding-left: 20px;
}

@media (max-width: 480px) {
    .course-title h1 {
        font-size: 2em;
    }
}

.course-definition {
    width: 100%;
    max-width: 1470px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 1.5em;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 0;
    color: #444;
    padding-left: 20px;
}

@media (max-width: 480px) {
    .course-definition {
        font-size: 1.5em;
    }
}

.course-definition a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #444;
}

.wrapper {
    width: 100%;
    position: relative;
    max-width: 1470px;
    display: grid;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    padding: 0 0 0 20px;
    align-content: start;
    margin: var(--gutter) auto 0;
}

.wrapper > * {
    grid-column: 4 / -4;
}

.wrapper > .full {
    grid-column: 1 / -1;
}

.wrapper section {
    width: 100%;
    max-width: 1470px;
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(6, calc(19% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);
    /* overflow-x: scroll;
    scroll-snap-type: x proximity;
    overflow: scroll;
    scroll-behavior: smooth; */
}

@media (max-width: 1000px) {
    .wrapper section {
        grid-template-columns: repeat(14, calc(30% - 10px * 2));
    }
}

@media (max-width: 610px) {
    .wrapper section {
        grid-template-columns: repeat(14, calc(70% - 20px * 2));
    }
}

@media (max-width: 480px) {
    .wrapper section {
        grid-template-columns: repeat(14, calc(80% - 20px * 2));
    }
}


