:root {
    --gutter: 20px;
}

.course {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

/* @media (max-width: 1000px) {
    .course {
        max-width: 800px;
    }
} */

.course-title h1 {
    font-size: 2.5em;
    text-align: left;
    color: #444;
    padding-left: 20px;
}

@media (max-width: 480px) {
    .course-title h1 {
        font-size: 2em;
    }
}

.course-definition {
    width: 100%;
    max-width: 1470px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 1.5em;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 0;
    color: #444;
    padding-left: 20px;
}

@media (max-width: 480px) {
    .course-definition {
        font-size: 1.5em;
    }
}

.course-definition a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #444;
}

.wrapper {
    width: 100%;
    position: relative;
    max-width: 1470px;
    display: grid;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    padding: 0 0 0 20px;
    align-content: start;
    margin: var(--gutter) auto 0;
}

.wrapper > * {
    grid-column: 4 / -4;
}

.wrapper > .full {
    grid-column: 1 / -1;
}

.wrapper section {
    width: 100%;
    max-width: 1380px;
    display: grid;
    /* grid-gap: calc(var(30px)); */
    grid-template-columns: repeat(5, calc(20%));
    /* grid-template-rows: minmax(200px, 1fr); */
    margin-bottom: 40px;
}

@media (max-width: 1000px) {
    .wrapper section {
        grid-template-columns: repeat(5, calc(20%));
    }
}

@media (max-width: 800px) {
    .wrapper section {
        grid-template-columns: repeat(3, calc(33%));
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        overflow: scroll;
        scroll-behavior: smooth;
    }
}

@media (max-width: 550px) {
    .wrapper section {
        grid-template-columns: repeat(5, calc(70% - 20px * 2));
    }
}

::-webkit-scrollbar {
    width: 0px;
}

/* .wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 5.5em;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 140px;
    padding: 10px 20px;
    text-align: center;
    z-index: 1;
    transition: 300ms all;
}

@media (max-width: 1220px) {
    .wrapper section a {
        font-size: 4.8em;
    }
}

@media (max-width: 1100px) {
    .wrapper section a {
        font-size: 4em;
    }
}

@media (max-width: 1000px) {
    .wrapper section a {
        font-size: 6em;
    }
}

@media (max-width: 800px) {
    .wrapper section a {
        font-size: 4.5em;
    }
}

@media (max-width: 610px) {
    .slider {
        display: none;
    }
}

<<<<<<< HEAD
.wrapper section a:nth-of-type(1) {
    left: 0;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.wrapper section a:nth-of-type(2) {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.wrapper section a:hover {
    width: 100px;
} */