h1 {
    font-size: 2.6em;
    text-align: left;
    color: #444;
    padding-left: 10px;
}
  
.course-title {
    width: 100%;
    max-width: 1370px;
    margin: 40px auto 0;
    /* padding: 0 40px; */
}

.lead {
    width: 100%;
    max-width: 1370px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 1.8em;
    text-align: left;
    margin: 20px auto;
    margin-bottom: 0;
    color: #444; 
    padding-left: 10px;
}
  
a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #1b63d1;
}

#projects {
    /* padding-bottom: 2em; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.projects-container {
    text-align: center;
    width: 100%;
    max-width: 1370px;
    height: 100%;
}

.projects-container h1 {
    font-size: 3em;
    text-align: left;
    color: #444;
}
  
.projects-container h2 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 2em;
    text-align: left;
    margin: 20px 0;
    color: #444;    ;
}
  
.projects-container a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #1b63d1;
}
  
.projects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    /* margin-bottom: 50px; */
}

  
