:root {
    --gutter: 20px;
}
  
.course-title {
    width: 100%;
    max-width: 1470px;
    margin: 40px auto 0;
}

.course-title h1 {
    font-size: 3em;
    text-align: left;
    color: #444;
    padding-left: 20px;
}

@media (max-width:480px) {
    .course-title h1  {
        font-size: 2em;
    }
}

.course-definition {
    width: 100%;
    max-width: 1470px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 1.8em;
    text-align: left;
    margin: 20px auto 0;
    margin-bottom: 0;
    color: #444; 
    padding-left: 20px;
}

@media (max-width:480px) {
    .course-definition  {
        font-size: 1.5em;
    }
}
  
.course-definition a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #444;
}

.wrapper {
    width: 100%;
    max-width: 1470px;
    display: grid;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    padding: 0 0 var(--gutter) 20px;
    align-content: start;
    margin: var(--gutter) auto 0;

}

.wrapper > * {
    grid-column: 4 / -4;
}

.wrapper > .full {
    grid-column: 1 / -1;
}

.wrapper section {
    width: 100%;
    max-width: 1470px;
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(14, calc(20% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    overflow: scroll;
    scroll-behavior: smooth;
}

@media (max-width:1000px) {
    .wrapper section  {
        grid-template-columns: repeat(14, calc(30% - 10px * 2));
    }
}

@media (max-width:610px) {
    .wrapper section  {
        grid-template-columns: repeat(14, calc(70% - 20px * 2));
    }
}

@media (max-width:480px) {
    .wrapper section  {
        grid-template-columns: repeat(14, calc(80% - 20px * 2));
    }
}

::-webkit-scrollbar {
    width: 0px;
}

.wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 140px;
    padding: 10px 20px ;
    text-align: center;
    z-index: 1;
    transition: 300ms all;
}

@media (max-width:610px) {
    .wrapper section a {
        display: none;
    }
}

.wrapper section a:nth-of-type(1) {
    left: 0;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.wrapper section a:nth-of-type(2) {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.wrapper section a:hover {
    width: 100px;
}
  
  
