.exclusive {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.exclusive-section {
  margin: 0 auto;
  padding-top: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.exclusive-section .image {
  width: 45%;
  transform: rotate(-15deg);
}

.exclusive-section .text {
  width: 50%;
  max-width: 350px;
}

.exclusive-section div img {
  width: 80%;
  padding-right: 10px;
}

.exclusive-section div h1 {
  color: var(--_color_1);
  margin: 10px 0;
  font-size: 32px;
}

.exclusive-section div h3 {
  color: var(--_color_2);
  margin: 10px 0;
  font-weight: 400;
}

.exclusive-section div > form {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 40px 0;
}

.exclusive-section div > form .exclusive-input {
  height: 50px;
  font: 10px;
  color: var(--_color_2);
  margin-bottom: 10px;
}

.exclusive-section div > form .exclusive-button {
  width: 100%;
  height: 50px;
  background: var(--_color_1);
  color: var(--_color_0);
  border-radius: 0.4rem;
  padding: 0.4rem 1.5rem;
  border: 0.1rem solid var(--_color_1);
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.exclusive-section div > form .exclusive-button:hover {
  background: transparent;
  border: 0.1rem solid var(--_color_1);
  color: var(--_color_1);
}

.exclusive-section div > form a {
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 5px 0;
  cursor: pointer;
  color: #1b63d1;
  transition: all 0.3s ease-in-out;
}
