/* @import url("https://fonts.googleapis.com/css?family=Quicksand");
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    color: #fff;
} */

/*====== WIDTH ======*/
.screenW {
    width: 100vw;
}
.fullW {
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
}

@media (max-width: 1480px) {
    .fullW {
        border-radius: 0;
    }
}

/*====== HEIGHT ======*/
.screenH {
    /* height: 45vh; */
    height: 300px;
}

@media (max-width: 800px) {
    .screenH {
        height: 220px;
    }
}

@media (max-width: 550px) {
    .screenH {
        height: 170px;
    }
}

@media (max-width: 400px) {
    .screenH {
        height: 200px;
    }
}

.fullH {
    height: 100%;
}
.height70 {
    height: 50px;
}

@media (max-width: 400px) {
    .height70 {
        height: 25px;
    }
}
/*====== BG COLOR ======*/
.dGray {
    background-color: #fff;
}
.white {
    background-color: #fff;
}
.white50 {
    background-color: #ffffff80;
}
.black50 {
    background-color: #00000080;
}
/*====== FONT ======*/
.fSize2 {
    font-size: 2rem;
}
/*====== IMAGE ======*/
.imgCover {
    /* object-fit: cover; */
}
/*====== OVERFLOW ======*/
.overflowH {
    overflow: hidden;
}

@media (max-width: 400px) {
    .overflowH {
        overflow:scroll;
    }
}

/*====== TRANSITIONS ======*/
.transition1l {
    transition: left 1s ease-in-out;
}
/*====== POSITION ======*/
.abs {
    position: absolute;
}
.rel {
    position: relative;
}
.left0 {
    left: 0px;
}
.left100vw {
    left: 100vw;
}
.leftM100vw {
    left: -100vw;
}
.bot0 {
    bottom: 0;
}
/*====== FLEX ======*/
.df {
    display: flex;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.fCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex1 {
    flex: 1;
}
.flex8 {
    flex: 10;
}

/*====== CUSTOM ======*/
.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
}

@media (max-width: 400px) {
    .dot {
        width: 7px;
        height: 7px;
    }
}